* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden; /* Prevent scrolling for the entire page */

}

.main-container{
  display: flex;
  margin: 1rem;
  justify-content: center;
  /* flex-direction: row; */
  /* background-color: black;
  color:aliceblue; */
}

.side-explorer{
  width: 30%;
  height: 90vh;
  margin-right: 1rem; 
  overflow: auto;
}